<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "layouts/head.html" %}
        {% block head %} {% endblock %}
    </head>
    <body>
        {% include "layouts/topMenu.html" %}

        <main class="container">
            {{ content | safe }}
            {% include "layouts/footer.html" %}
        </main>
        <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
</html>